/*************************************/
/* Responsive layouts */
/************************************/

/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    padding: 3.2rem 3.2rem 8.6rem 3.2rem;
  }

  .grid {
    column-gap: 5.4rem;
    row-gap: 6.4rem;
  }

  .hero-grid {
    gap: 11.5rem;
  }

  .project-grid {
    column-gap: 2.8rem;
  }

  .hero-heading {
    font-size: 11rem;
  }

  .heading-secondary {
    font-size: 2.8rem;
  }

  .heading-tertiary {
    font-size: 2.2rem;
  }

  .what-i-do-icon-top {
    transform: scale(0.95);
    top: -17%;
    left: -7%;
  }

  .logo-icon {
    transform: scale(0.95);
  }

  .main-logo {
    gap: 0.3rem;
  }
}

/* 1072px */
@media (max-width: 67em) {
  html {
    font-size: 50%;
  }

  .grid {
    column-gap: 4.8rem;
  }

  .hero-grid {
    gap: 9.6rem;
  }

  .project-grid {
    column-gap: 2rem;
  }

  .design-tools-container {
    gap: 9.6rem;
  }

  .nav-open .hero-img-box {
    right: 5%;
    transform: translateY(-5%);
  }

  .what-i-do-icon-top {
    transform: scale(0.85);
    top: -19%;
    left: -9%;
  }

  .logo-icon {
    transform: scale(0.85);
  }

  .main-logo {
    gap: 0.2rem;
  }
}

/* 960px */
@media (max-width: 60em) {
  .edusponsor-img-left {
    top: 10%;
    left: 45%;
  }

  .what-i-do-icon-top {
    top: -19%;
    left: -9%;
  }
}

/* 864px */
@media (max-width: 54em) {
  .hero-grid {
    column-gap: 6.4rem;
  }

  .blockquote,
  .container-sm {
    max-width: 100%;
  }

  .grid-3-cols {
    grid-template-columns: 1fr;
  }

  .what-i-do-icon-top {
    top: -26%;
    left: -3%;
  }

  .design-tools-container,
  .publication-grid {
    gap: 4.8rem;
  }
}

/* 816px */
@media (max-width: 51em) {
  .btn-left {
    position: absolute;
    top: 47%;
    left: 80%;
  }

  .btn-right {
    top: 98%;
    right: 17%;
  }

  .publication-text-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    line-height: 3.8rem;
  }

  .project-grid {
    column-gap: 1.8rem;
  }

  .hero-grid,
  .design-tools-container,
  .publication-grid,
  .project-grid {
    grid-template-columns: 1fr;
  }

  .project-img-box {
    display: none;
  }

  .heading-secondary {
    line-height: 4.8rem;
  }

  .hero-img-box {
    display: none;
  }
}

@media (max-width: 43em) {
  .what-i-do-icon-top {
    top: -26%;
    left: -4%;
  }
}

/* 608px */
@media (max-width: 38em) {
  .hero-section {
    padding: 4rem 0 7rem 0;
  }

  .hero-heading {
    font-size: 9.6rem;
  }

  .hero-heading span {
    width: 22.4rem;
    height: 10.4rem;
  }

  .hero-text {
    transform: translateY(40%);
  }

  .hero-description {
    margin-top: 3rem;
  }

  .hero-left-icon {
    display: none;
  }

  .social-links {
    display: none;
  }

  .hero-description {
    margin-top: 2rem;
  }
}

/* 550px */
@media (max-width: 34em) {
  .container {
    padding: 5.2rem;
  }

  .hero-section {
    padding: 3rem 0 4.2rem 0;
  }

  .projects-section,
  .design-tools-section,
  .publications-section,
  .what-i-do-section {
    padding: 4.2rem 0;
  }

  .hero-heading {
    font-size: 6.4rem;
    line-height: 6rem;
  }

  .hero-heading span {
    width: 16rem;
    height: 8rem;
  }

  .hero-text {
    transform: translateY(-20%);
  }

  .project {
    padding: 4rem 2.4rem;
  }

  .btn:link {
    padding: 1.4rem 3rem;
  }

  .btn-md:link {
    padding: 1.8rem 3.2rem;
  }

  .btn-right {
    transform: translate(40%, -80%);
  }

  .margin-bottom-md {
    margin-bottom: 4rem !important;
  }

  .blockquote {
    margin-bottom: 3rem;
  }

  .what-i-do-icon-top {
    top: -26%;
    left: -4%;
  }

  .footer-section {
    padding: 9.6rem 0;
  }

  .footer-social-links {
    gap: 1rem;
  }
}

@media (max-width: 30em) {
  .what-i-do-icon-top {
    top: -27%;
    left: -6%;
  }
}

/*************************************/
/* Fixing Safari flexbox gap */
/************************************/
